    public function getFixedAttributes(): array
    {
        return [
            'xmlns:#prefix#' => '#xml-namespace#',
            'xsi:schemaLocation' => '#xml-namespace#'
                . ' #xml-schemalocation#',
            '#version-attribute#' => '#version-value#',
        ];
    }
